<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <meta charset="utf-8" />
    <title>Ajouter une Espèce</title>
</head>

<body>
    <form th:object="${species}" th:action="@{/species/save}" method="post">
        <div>
            <label for="commonName">Nom commun :</label>
            <input type="text" th:field="*{commonName}" id="commonName" />
        </div>
        <span th:if="${fields.hasErrors('commonName')}" th:errors="*{commonName}">Error</span>
        <div>
            <label for="latinName">Nom scientifique :</label>
            <input type="text" th:field="*{latinName}" id="latinName" />
        </div>
        <div>
            <input type="submit" class="button" value="Sauver" />
            <input type="button" class="button" value="Retour" onclick="window.location='/species/all'" />
        </div>
    </form>
</body>

</html>
